<template>
    <div class="home">
        <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
        <div v-if="users" style="text-align: center;">
            <div v-for="user in users" :key="user.id">
                <h1>{{fullname(user)}}</h1>
                <img alt="Avatar" :src="avatar(user)">
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "home",
    data() {
        return {
            users: [{ esf: "seff" }]
        };
    },
    methods: {
        fullname(user) {
            return user.firstName + " " + user.lastName;
        },
        avatar(user) {
            return "https://api.adorable.io/avatars/120/" + user.email;
        }
    },
    created() {
        axios
            .get("http://localhost:3000/")
            .then(response => {
                this.users = response.data;
            })
            .catch(e => {
                this.errors.push(e);
            });
    }
};
</script>
